Architecture: iphoneos-arm
Name: PhotoRes
Package: org.thebigboss.photores
Version: 1.0
Author: PoomSmart
Pre-Depends: firmware (>= 6.0)
Depends: mobilesubstrate, preferenceloader
Description: Adjust aspect ratio and resolution for photography.
