Architecture: iphoneos-arm
Name: PhotoRes
Package: org.thebigboss.photores
Version: 1.0
Author: PoomSmart
Maintainer: PoomSmart
Depends: mobilesubstrate, preferenceloader, firmware (>= 6.0), ws.hbang.common (>= 1.2)
Description: Taking photos at any size.
